body {
    background-color: #f1faee;
}

button {
    background-color: #a8dadc;
}

h3 {
    color: #1d3557;
}

#clickme {
    background-color: #1d3557;
    color: #f1faee;
}

.b1 {
    background-color: cornsilk;
    color: darkslateblue;
}