body {
    background-color: #f1faee;
}

button {
    background-color: #a8dadc;
}

h3 {
    color: #1d3557;
}

input[type="password"]{
    color: blue;
}

a[href*="google"]{
    color: blueviolet;
}

a[href = "www.Google.com"]{
    color: pink;
}